.index{
	background-color: #DEDEDE;
	position: relative;
	height: 100%;
	display: none; /*none->block*/
}

/*---------------------------- HEADER ------------------------------ */
.header {
	background-color: #FF8B41;
	padding:10px;
	min-height: 150px;
	display: grid;
	grid-template-columns: 20% auto;
	top: 0px;
	width: 100%;
	position: relative;
}

.options{
	display: grid;
	grid-template-columns: auto auto 10px;
	grid-template-rows: 35px 35px 35px;
	width: 100%;

	grid-column-gap: 15px;
 	grid-row-gap: 5px;
}
.option{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 2;
	display: grid;
	grid-template-rows: 35px 35px;
	grid-row-gap: 5px;
}

	.import-audio {
		height: 100%;
		background-color: white;
		border: none;
		border-radius: 5px;
		grid-column: 1;
		grid-row: 1;
		
	}
	#upload-audio {
		opacity: 0;
	   	position: absolute;
	   	z-index: -1;
	}
	.upload {
		height: 100%;
		background-color: white;
		border: none;
		border-radius: 5px;
		grid-column: 1;
		grid-row: 2;	
	}

	.export {
		height: 100%;
		width: 100%;
		background-color: white;
		border: none;
		border-radius: 5px;

		grid-column: 1;
		grid-row:3;
	}

	.play {
		height: 100%;
		background-color: white;
		border: none;
		border-radius: 5px;

		grid-column: 2;
		grid-row-start: 1;
		grid-row-end: 2;
	}
/*------------------------------------------*/	

.audio-options{
	display: none; /*none -> grid*/
	grid-template-columns: auto auto;
	grid-template-rows: 35px 35px 35px;
	width: 100%;

	grid-column-gap: 15px;
 	grid-row-gap: 5px;
 	transition-timing-function: linear;
 	transition-property: width;
}

.move {
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column: 1;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 75px auto;
}

.cut {
	grid-row-start: 1;
	grid-row-end: 4;
	grid-column: 2;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 75px auto;
}

#text {
	grid-column: 1;
	grid-row-start: 1;
	grid-row-end: 2;
}

#num_input {
	grid-column: 2;
	grid-row-start: 1;
	grid-row-end: 2;
}

.btnMove, .btnCut {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row: 3;
	background-color: white;
	margin: 2.5px 0;
	height: 35px;

}
.header_input{
	height: 20px;
	width: 100%;
	margin: 2.5px;
}

/*---------------------------- CONTENT ----------------------------- */
.content {
	background-color: transparent;
	height: 100%;
	overflow-y: auto;
	/*margin-bottom: 40px;*/
	/*margin-top:150px;*/
}

.track {
	position: relative;
	background-color: transparent;
	height: 150px;
	width: inherit;
	margin: 10px;
	
	display: grid;
	grid-template-columns: auto 100px;
	grid-column-gap: 5px;

}
.pista {
	grid-column: 1;
	width: 100%;
	height: inherit;
	display: grid;
	grid-template-columns: 100px auto;
	box-shadow: 5px 5px 5px grey;
}

.selection {
	grid-column: 2;
	width: 100%;
	box-shadow: 5px 5px 5px grey;
	background-color: transparent;
}
	.track-options {
		position: absolute;
		background-color: #FF8B41;
		width: 100px;
		height: 100%;
		border-color: black;
		border: 5px;
		padding: 10px;
		margin-left:0; 
		grid-column: 1;
	}

		.track-name{
			background-color: white;
			border-radius: 2px;
			padding: 5px
		}

		.volume{
			float: center;
			margin-bottom: 0;
		}
			.center-icon{
				float: center;
				background-color: transparent;
				width: 100%;
				border: none;
			}

		.btn-action{
			width: 100%;
			background-color: white;
			border: none;
			border-radius: 8px;
			height: 20px;
			padding: 0;
			float: center;
		}
			.btn-action:hover, .import-audio:hover, .play:hover, .export:hover, .upload:hover{
				box-shadow: 1px 1px 5px #D47336;
				cursor: pointer;
			}

	.track-waveform {
		position: relative;
		border: 5px;
		background-color: white;
		height: inherit;
		width: 100%;
		grid-column: 2

	}

	canvas {
		position:absolute;
		/*width: 100%;*/
		height: inherit;
		background-color: transparent;
		overflow-x: auto;
	}

	.user-selected {
		margin-right: 0;
		width: 100%;
		height: 150px;
		background-color: #FF8B41;
		position:relative;
	}

/*---------------------------- FOOTER ---------------------------------------*/

.footer {
	background-color: #DEDEDE;
	width: 100%;
	height: 80px;
	bottom: 5px;
	position: fixed;
	display: grid;
	padding: 10px;
	grid-template-columns: 40% 60%;
	grid-template-rows: 40px 40px;
	grid-row-gap: 5px;
}

.current_project {
	grid-column: 1;
	grid-row: 2;
	color: black;
	width: 100%;
}

.project_msg {
	grid-column: 2;
	grid-row: 2;
	background-color: white;
}

#timeline {
	height: 100%;
	width: 100%;
	background-color: transparent;
	grid-column-start:1;
	grid-column-end: 3;
	grid-row: 1;
	margin-left: 90px

}


/*--------------------------- SCROLLBAR STYLE ---------------------------------*/
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888; 
}